<center><h1>Welcome to Your Meal Tracker!</h1>

<p> With this tracker, you will be able to keep track of your daily meals.</p>

<%= link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>
