<h1 align="center">All the meal plans</h1>
<hr />

<% @meal_plans.each do |mealplan| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <div class="col-md-8 well">
         <p><%= link_to mealplan.goal, meal_plan_path(mealplan) %> (goal) - <%= mealplan.description %> (description)</p>
       </p>
         <span class="quiet"></span><small>Created by <%= mealplan.user.try(:name) %></small></span><br>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(mealplan.created_at) %> ago</small></span>
       </p>
    </div>
  </div>
<% end %>
