
<h2><center>Your Homepage</center></h2>
<div class="col-md-8 well">
  <h4>Name: <%= @user.name %></h4>
  <h4> Email: <%= @user.email %></h4>

</div>
<br><br>
<%= link_to "Select a Meal Plan", new_meal_plan_path %>
<br><br>
<%= link_to "Log Out", logout_path, method: :delete %>
