<h1 align="center">All the meals</h1>
<hr />

<% @meals.each do |meal| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <div class="col-md-8 well">
       <p><strong><%= meal.meal_plan.try(:goal) %></strong> (meal plan)</p>
       <p> For this meal you ate: </p>
        <ul>
          <li><%= link_to meal.food, meal_path(meal) %></li>
          <li> On: <%= meal.day %></li>
        </ul>
       <p>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(meal.created_at) %> ago</small></span>
       </p>
    </div>
  </div>
<% end %>
