<h1 align="center">All the meals</h1>
<hr />

<% @meals.each do |meal| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <div class="col-md-8 well">
       <p> Meals for <%= meal.meal_plan.try(:goal) %> meal plan</p>
       <p>Food: <%= link_to meal.food, meal_path(meal) %></p>
       <p> Day: <%= meal.day %></p>
       <p>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(meal.created_at) %> ago</small></span>
       </p>
    </div>
  </div>
<% end %>
