<%= render "shared/page_title", title: "All Your Meals" %>

<div class="col-md-8 well">
<h4>Your Favorite Food: </h4>
  <% Meal.favorite.map do |meal| %>
        <p><%= meal.food %></p>
    <% end %>
</div>
<%= render 'meal', obj: @meals %>
