<%= render "shared/page_title", title: "Add Your Meals" %>

<h4> Adding to Meal Plan: <%= @meal.meal_plans.try(:goal) %> (<%= @meal.meal_plans.try(:description) %>) </h4>
<%= render 'form', {mealplan: @mealplan} %>
