<h1 align="center">All the meal schedules</h1>
<hr />

<% @meal_schedules.each do |mealschedule| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <div class="col-md-8 well">
       <p>Eating Time: <%= link_to mealschedule.eating_time, meal_schedule_path(mealschedule) %></p>
       <p> Meal Type: <%= mealschedule.meal_type %></p>
       <p>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(mealschedule.created_at) %> ago</small></span>
       </p>
    </div>
  </div>
<% end %>
