<%= render "shared/page_title", title: "Add Meal Schedule" %>

<h4> Adding to Meal: <%= @meal_schedule.meal.try(:food).capitalize %></h4>
<%= render 'form', {meal_schedule: @meal_schedule} %>

<br><br>
