$navbar-default-bg: #073b15;
// $navbar-default-bg: #4B0082;
// $navbar-default-bg: 	#8B0000;

@import "bootstrap-sprockets";
@import "bootstrap";


.center{
  text-align: center;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-sm {
  background-color: #FFFFFF;
}

.btn-xlarge {
  color: #fff;
  text-decoration: none;
}

.description {
  margin-top: 0;
}

.well a {
  color: #1C8968;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #073b15;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}


footer small {
  float: left;
}

.mealplan-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}
