<% if object.errors.any? %>
  <%= pluralize(object.errors.count, "error") %>
  prohibited this <%= object.class %> from being saved:
<ul>
<% object.errors.full_messages.each do |error_message| %>
    <li> <%= error_message %> </li>
<% end %>
</ul>
<% end %>
